<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="/fragments/header :: head('Create Comment')"></head>
<body>

<nav th:replace="/fragments/navbar :: nav-bar"></nav>

<div class="container">
	<form th:action="@{'/response/' + ${response.blog_id} + '/create'}" th:method="POST" th:object="${response}">
		<div class="form-group">
			<label for="comment">Comment:</label>
			<input th:field="*{comment}" class="form-control" name="comment" id="comment"/>

			<div
					class="alert alert-danger"
					th:if="${#fields.hasErrors('comment')}"
					th:errors="*{comment}">
			</div>
		</div>
		<!--<input type="hidden" name="blog_id" th:value="${response.blog_id}"/>-->
		<input class="btn btn-primary" type="submit" value="submit"/>
	</form>
</div>

<div>
	<footer th:replace="/fragments/footer :: main-footer"></footer>
</div>
</body>
</html>
