<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="/fragments/header :: head('Blog Topics')"></head>
<body>

<nav th:replace="/fragments/navbar :: nav-bar"></nav>

<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 col-sm-12 col-sm-offset-0">
			<h1>Share Your Thoughts</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<a sec:authorize="isAuthenticated()" th:href="@{/blog/create}" id="create-blog" class="btn btn-primary">Start
				A
				Blog</a>
		</div>
	</div>

	<div class="blog" th:each="blog : ${blog}">
		<h2 class="blog-title"><a th:href="${'/blog/' + blog.id}" th:text="${blog.title}"></a></h2>
		<h3 class="blog-body" th:text="${blog.body}"></h3>
		<div><a id="user" th:text="${blog.user.username}" th:href="@{'/blog/' + ${blog.user.username}}">User</a></div>
		<h4 th:text="${blog.responses}">Comments</h4>
		<!--<div><a th:text="${blog.responses.user.username}" th:href="@{'/blog/' + ${blog.responses.user.username}}">User</a>-->
		<!--</div>-->
		<div class="buttons" id="edit-button">
			<div sec:authorize="isAuthenticated()">
				<div th:if="${#authentication.principal.id == blog.user.id}">
					<div class="row">
						<div class="col-xs-3 col-xs-offset-3">
							<a th:href="@{/blogs/{id}/edit(id=${blog.id})}" class="btn btn-info">Edit</a>
						</div>
						<div class="col-xs-3" th:if="${#authentication.principal.id == blog.user.id}">
							<div>
								<form th:action="@{/blogs/{id}/delete(id=${blog.id})}" method="post">
									<input class="btn btn-danger" type="submit" value="Delete"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<a th:href="@{/response/create}">
					<button type="button" class="btn btn-primary btn-block">Leave a Comment</button>
				</a>
			</div>
		</div>
	</div>


	<div>
		<footer th:replace="/fragments/footer :: main-footer"></footer>
	</div>
</div>
</body>
</html>