<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head('')"></head>
<body>

<nav th:replace="/fragments/navbar :: nav-bar"></nav>

<div class="container">
	<div class="row">
		<h1>Register Here!!!</h1>
		<form action="/register" method="POST" th:object="${user}">
			<label for="firstName">First Name</label>
			<input id="firstName" th:field="*{firstName}" />

			<label for="lastName">Last Name</label>
			<input id="lastName" th:field="*{lastName}" />
			<label for="email">Email</label>
			<input id="email" th:field="*{email}" />
			<label for="phoneNumber">Phone Number</label>
			<input id="phoneNumber" th:field="*{phoneNumber}" />
			<label for="password">Password</label>
			<input id="password" type="password" th:field="*{password}" />
			<label for="age">age</label>
			<input id="age" type="age" th:field="*{age}" />
			<label for="gender">gender</label>
			<input id="gender" type="gender" th:field="*{gender}" />
			<label for="height">height</label>
			<input id="height" type="height" th:field="*{height}" />
			<label for="weight">weight</label>
			<input id="weight" type="weight" th:field="*{weight}" />


			<input value="Sign me up!" type="submit" />
		</form>
</body>
</html>


<footer th:replace="/fragments/footer :: main-footer"></footer>

</body>
</html>