<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head('Register')"></head>

<body>
<nav th:replace="/fragments/navbar :: nav-bar"></nav>

<div class="container">
	<div class="row">
		<h1>Register Here!!!</h1>
		<form th:action="@{/register}" th:method="POST" th:object="${user}">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input id="firstName" type="text" name="firstName" th:field="*{firstName}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input id="lastName" type="text" name="lastName" th:field="*{lastName}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input id="email" type="text" name="email" th:field="*{email}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="phoneNumber">Phone Number</label>
				<input id="phoneNumber" type="text" name="phoneNumber" th:field="*{phoneNumber}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input id="username" type="text" name="username" th:field="*{username}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id="password" type="password" name="password" th:field="*{password}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="age">age</label>
				<input id="age" type="text" name="age" th:field="*{age}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="gender">gender</label>
				<input id="gender" type="text" name="gender" th:field="*{gender}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="height">height</label>
				<input id="height" type="text" name="height" th:field="*{height}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="weight">weight</label>
				<input id="weight" type="text" name="weight" th:field="*{weight}" class="form-control"/>
			</div>

			<input class="btn btn-primary" type="submit" value="Sign Me Up"/>
		</form>
	</div>
</div>

<footer th:replace="/fragments/footer :: main-footer"></footer>
</body>
</html>