<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head('Home Page')"></head>

<body>
<nav th:replace="/fragments/navbar :: nav-bar"></nav>

<div class="container">
	<h1>Choose A Body Part</h1>
	<div class="row">

		<div class="row">
			<div class="col-xs-4 col-xs-offset-2">
				<h2 class="muscular-system" id="frontal">Frontal</h2>
				<div class="row">
					<div class="col-xs-12">
						<img src="/img/muscular-frontal.png" usemap="#Map-frontal"/>
						<map name="Map-frontal" id="Map-frontal">
							<area shape="poly" id="abs" coords="150,300,148,393,272,399,277,294" href="exercises.html?category=10"  />
							<area shape="poly" class="arms" coords="146,208,107,449,84,450,113,212" href="exercises.html?category=8" />
							<area shape="poly" class="arms" coords="274,199,302,459,325,450,308,201" href="exercises.html?category=8" />
							<area shape="poly" id="chest" coords="150,200,157,278,268,275,269,202" href="exercises.html?category=11" />
							<area shape="poly" class="shoulders" coords="114,213,184,195,180,163,128,195" href="exercises.html?category=13" />
							<area shape="poly" class="shoulders" coords="238,194,234,157,290,196" href="exercises.html?category=13" />
							<area shape="poly" class="legs" coords="142,392,139,633,201,629,203,478" href="exercises.html?category=9" />
							<area shape="poly" class="legs" coords="271,396,275,632,216,635,214,481" href="exercises.html?category=9" />
							<area shape="poly" class="calves" coords="144,693,151,810,201,807,204,697" href="exercises.html?category=14" />
							<area shape="poly" class="calves" coords="206,693,269,693,247,807,207,806" href="exercises.html?category=14" />
						</map>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<h2 class="muscular-system" id="posterior">Posterior</h2>
				<div class="row">
					<div class="col-xs-12">
						<img src="/img/muscular-posterior.png" usemap="#Map-posterior"/>
						<map name="Map-posterior" id="Map-posterior">
							<area shape="poly" class="arms" coords="96,222,79,454,115,453,142,264" href="exercises.html?category=8" />
							<area shape="poly" class="arms" coords="317,233,338,458,305,464,273,273" href="exercises.html?category=8" />
							<area shape="poly" id="back" coords="188,148,119,198,141,393,269,398,303,208,231,149" href="exercises.html?category=12" />
							<area shape="poly" class="legs" coords="139,389,138,641,206,643,215,431" href="exercises.html?category=9" />
							<area shape="poly" class="legs" coords="273,396,277,649,212,659,218,433" href="exercises.html?category=9" />
							<area shape="poly" class="calves" coords="150,651,175,830,208,826,204,655" href="exercises.html?category=14" />
							<area shape="poly" class="calves" coords="207,655,213,804,255,805,272,649" href="exercises.html?category=14" />
						</map>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<footer th:replace="/fragments/footer :: main-footer"></footer>
<script src="/js/workout-manager.js"></script>
<script src="/js/body-highlights.js"></script>
</body>
</html>